/******************************
UNIVERSAL STYLES
******************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

/******************************
STRUCTURE STYLES
******************************/
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col1 {
    height: 2rem;
    width: 100%;
    background-color: blue;
    border: 1px solid white;
}

.col2 {
    height: 2rem;
    width: calc((100% / 12) * 6);
    background-color: blue;
    border: 1px solid white;
}

.col3 {
    height: 2rem;
    width: calc((100% / 12) * 4);
    background-color: blue;
    border: 1px solid white;
}

.col4 {
    height: 2rem;
    width: calc((100% / 12) * 3);
    background-color: blue;
    border: 1px solid white;
}

.col6 {
    height: 2rem;
    width: calc((100% / 12) * 2);
    background-color: blue;
    border: 1px solid white;
}

.col12 {
    height: 2rem;
    width: calc(100% / 12);
    background-color: blue;
    border: 1px solid white;
}

/******************************
OFFSETS
******************************/

/*Left-side offsets*/
.m-left12 {
    margin-left: calc(100% / 12);
}
.m-left6 {
    margin-left: calc((100% / 12) * 2);
}

/*Right-side offsets*/
.m-right12 {
    margin-right: calc(100% / 12);
}
.m-right6 {
    margin-left: calc((100% / 12) * 2);
}